.btn {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}
.navbar__btn {

  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  color: var(--color-white);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.navbar__btn:hover {
  color: var(--color-orange);
}

.navbar__btn:focus-visible {
  background-color: var(--color-darkorange);
  color: var(--color-white);
}

.navbar__btn:active {
  color: var(--color-darkorange);
}